.first-block{
    position:relative;
    width:1200px;
    height:400px;
    background-color: blue;

}
.second-block{
    position:absolute;
    top:100px;

}
.box3{
    position:absolute;
    background-color:grey;
    top:500px;
    left:50px;
    width:100;
    height:50px;
}
.box4{
    position:absolute;
    background-color:grey;
    top:500px;
    left:200;
    width:100;
    height:50px;

}
.box5{
    position:absolute;
    background-color:grey;
    top:500px;
    left:400;
    width:100;
    height:50px;
}
.box6{
    position:absolute;
    background-color:grey;
    top:500px;
    left:600;
    width:100;
    height:50px;
}
.box8{
    width:300;
    height:600;
    border:2px;
    background-color:grey;
}
.box9{
    width:300;
    height:600;
    border:2px;
    background-color:grey;
}
.box10{
    width:300;
    height:600;
    border:2px;
    background-color:grey;
}
.box11{
    width:300;
    height:600;
    border:2px;
    background-color:grey;
}
.box11{
    position:relative;
    width:1200px;
    height:200px;
    background-color: blue;
}
